@import url('/css/pages/movie/movie-management.css');

.text-gradient {
    background: linear-gradient(90deg, #007bff, #6610f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
