@import url('/css/pages/genre/genre-management.css');

.modal-content {
    border-radius: 1rem;
}

.modal-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.btn-danger, .bg-danger {
    background: linear-gradient(135deg, #dc2626, #ef4444);
    border: none;
}

.btn-danger:hover {
    background: linear-gradient(135deg, #b91c1c, #dc2626);
}
